.header {
    color: #fff;
    font-size: 22px;
    padding: 0 30px!important;
    height: 50px!important;
    line-height: 50px!important;
}

.content {
    height: calc(100vh - 64px);
    background: #fff;
    padding: 0 30px 30px;
    overflow: scroll;
}

.text {
    margin-top: 10px;
}

.btn {
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    float: left;
}

.search {
    display: flex;
    margin-top: 30px;
}

.btnContent {
    overflow: hidden;
}

.exportBtn {
    margin-bottom: 15px;
    margin-top: 20px;
    float: right;
    z-index: 1;
}

.footer {
    overflow: hidden;
    width: 100%;
    display: flex;
}

.textarea {
    width: 50%;
}

.leftText {
    width: 50%;
    margin-right: 15px 
}

.rightText {
    width: 50%;
    margin-left: 15px;
}

.nameList {
    width: 20%;
}

.nameList li {
    cursor: pointer;
}

.urlList {
    width: 80%;
    overflow: scroll;
    white-space: nowrap;
}

.footer_addr {
    color: #b7eb8f;
}

.active {
    color: #b7eb8f;
}

.info {
    width: 20%;
    float: left;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.tableText {
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.table-text:hover {
    white-space: normal;
}

.ant-table-wrapper {
    flex: 1;
}
